.tables {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 5px;
  padding: 2rem;
}

.tablecell {
  color: white;
}

.bet-tablecell:hover {
  background-color: white;
}

.highlight {
  font-weight: bold;
  font-size: large;
}

.paper {
  border-radius: 15px;
  padding: 2rem;
}
