.leaderboard {
    background: linear-gradient(13deg, #fc7703a6, #d8c303bf);
    border-radius: 15px;
    padding: 2rem;
    color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.leaderboard-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #eea527;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(77, 128, 125, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 1rem;
    color: #fff;
}

.leaderboard-table th {
    background: #10892b;
    font-weight: bold;
    font-size: 18px;
}

.leaderboard-table tr:nth-child(even) {
    background: rgba(23, 140, 163, 0.45);
}

.leaderboard-table tr:nth-child(odd) {
    background: rgba(4, 48, 207, 0.45);
}

.leaderboard-table tr:hover {
    background: rgba(10, 10, 10, 0.5);
    cursor: pointer;
}

.leaderboard-rank {
    font-weight: bold;
    font-size: 18px;
}

.leaderboard-username {
    font-size: 18px;
}

.leaderboard-points {
    text-align: right;
    font-size: 18px;
}